.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 166px;
    transition: 0.5s;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 166px;
    font-size: 2.5em;
    text-decoration: underline;
    text-shadow: 3px 5px 6px #6C9, -6px -7px 6px #D9FFA7;
    transition: 0.5s;
}

.span {
    color: red;
    font-size: large;
}

.categories {
    display: flex;
    width: 906px;
}

.navigation {
    width: 510px;
    display: flex;
    justify-content: space-around;
}

.navigation p {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.searchWrapper {
    margin: auto;
}

.search {
    display: block;
    position: relative;
    width: 250px;
    height: 30px;
    padding: 0 50px 0 30px;
    border: 2px solid #c7c1c0;
    border-radius: 24px;
    outline: none;
    font-size: 17px;
    color: gray;
}

.rightSidebar {
    height: 166px;
}

input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    margin-top: 10px;
    display: block;
    width: 40px;
    height: 20px;
    background: #353535;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    transform: translateX(50%);
}

input[type="checkbox"]:checked~.check {
    background: rgb(78, 169, 255);
}

.check::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked~.check::after {
    transform: translateX(125%);
    background: rgb(233, 233, 233);
}